* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #f8f6f1;
  color: #081225;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
section {
  scroll-margin-top: 120px;
}
